<div style="text-align: left">
  by <%= link_to post.user.username, post.user if post.user %>
</div>
<div id="<%= dom_id post %>" class="post-container">
  <p>
    <%= post.title %>
  </p>

  <p>
    <%= post.description %>
  </p>

  <p>
    <%= post.keywords %>
  </p>
  <p>
    <%= link_to "", post, class:"post-link" %>
  </p>
  <div>
    <% post.images.each do |image| %>
      <%= image_tag(image, style: "object-fit: contain; width: 300px; height: 400px;") %>
    <% end %>
  </div>  
</div>
