<div style="text-align: left">by. <%= post.user.username if post.user %></div>
<div id="<%= dom_id post %>" class="post-container">

  <p>
    <%= post.title %>
  </p>

  <p>
    <%= post.description %>
  </p>

  <p>
    <%= post.keywords %>
  </p>
  <p>
    <%= link_to "", post, class:"post-link" %>
  </p>
  <div>
    <% post.images.each do |image| %>
      <%= image_tag(image, style: "object-fit: cover; width: 200px; height: 400px;") %>
    <% end %>
  </div>  
  

</div>
